@mixin helloWorld() {
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    background-color: rgb(41, 41, 41);
    color: rgb(231, 231, 231);
    cursor: pointer
}

//These are global Scope Variables.The have access to overall Syntactically Style Sheet.
$borderRadius: 10px; 
$paddingBtn: 5px 10px;

#alert1 {
    $borderRadius: 5px; //Local Scope. It will not accessed outside.
    border-radius: $borderRadius;
}


#alert2 {
    border-radius: $borderRadius;
}   