@mixin helloWorld() {
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    background-color: rgb(41, 41, 41);
    color: rgb(231, 231, 231);
    cursor: pointer
}

$borderRadius: 10px;
$paddingBtn: 5px 10px;

#alert {
    border: 2px solid black;
    border-radius: $borderRadius;
    padding: $paddingBtn;
}